<!-- partial page for rendering queue on the index page -->

<!-- Build an array only including SRs that aren't taken and aren't unassigned in the database -->
<% queuearray = Array.new %>
  <% ServiceRequest.all.each do |sr| %>
    <% unless sr.taken || sr.unassign %>
      <% queuearray << sr %>
    <% end %>
  <% end %>

<!-- If the above created array is empty display this message -->
<% if queuearray.empty? %>
  <br><p class="has-text-centered">There aren't any SRs in queue.</p><br>
<!-- If it's not empty then display the SRs in queue -->
<% else %>
  <!-- Creating arrays for sorting SRs in queue -->
  <% usa = Array.new %>
  <% emea = Array.new %>
  <% asiapac = Array.new %>
  <% latin = Array.new %>
  <% canada = Array.new %>
  <% other = Array.new %>
  <% queues = Hash[ 'usa' => usa, 'canada' => canada, 'latin america' => latin, 'asiapac' => asiapac, 'other' => other, 'emea' => emea] %>

<!-- function for displaying each SR as an item -->
  <% def displayitem(request) %>
    <li>
    <!-- Minutes passed since the object was created in Rosa -->
    <% timeW = request.created_at.to_i / 60 %>
    <% timeN = Time.now.to_i / 60 %>
    
    [<%= timeN - timeW %> min]

    <!-- Test boolean returned to see if it is a returning service request -->
    <% if request.returned %>
    Returning -
    <% end %>
    <!-- This will show the SR number but also make it a link to the details of that SR using the 'show' action -->
    <%= link_to request.number, {:action => 'show', :id => request.id} -%>
    -
    <%= request.locale %>
    -
    <%= request.hours %>
    -
    <%= request.priority %>
    -
    <%= request.contactvia %>
    -
    <!-- Truncating the briefdescription just in case it's super long so it doesn't make the list of SRs hard to read -->
    <%= truncate(request.briefdes, :length => 50) %>
    <!-- Make an 'Assign' link for the SR so that it can be edited with the new username -->
    <b> <%= link_to 'Assign', {:action => "edit", :id => request.id}, class: "button is-primary is-outlined is-small" %></b> 
    <b> <%= link_to 'Move', {:action => "move", :id => request.id}, class: "button is-primary is-outlined is-small" %></b>
    </li>
  <% end %>

  <!-- block to sort SRs into their respective arrays --> 
  <% ServiceRequest.all.each do |request| %>
    <!-- Only display SRs in queue that have no owner and that aren't unassigned -->
    <% if request.username.blank? && !request.unassign %>
      <% case request.locale %>
      <% when "USA" %>
        <% usa << request %>
      <% when "EMEA" %>
        <% emea << request %>
      <% when "ASIAPAC" %>
        <% asiapac << request %>
      <% when "LATIN AMERICA" %>
        <% latin << request %>
      <% when "CANADA" %>
        <% canada << request %>
      <% else %>
        <!-- In case locale is missing or a new one is created -->
        <% other << request %>
      <% end %>
    <% end %>
  <% end %>

  <!-- Order the priorities so that the queues can be ordered this same way -->
  <% priorities = ["Critical", "High", "Medium", "Low"] %>

  <!-- Final creation of the organized list -->
  <% queues.each do |key, value| %>
    <% unless value.empty? %>
      <qname id="collapsible_<%= key.to_s.gsub(/\s+/, "") %>" class="collapsible" ><u><%= key.to_s.upcase %></u></qname>
      <ul>
      <% value.sort_by{|x| priorities.index x.priority}.each do |request| %>
        <% displayitem(request) %>
      <% end %>
      </ul>
      <br>
    <% end %>
  <% end %>
<% end %>

