<h1>Change queue of SR# <%= @service_request.number %></h1>

<!-- ruby code to initialize the form for the specified service request. -->
<%= form_for @service_request, :url =>{:action => "update", :id =>@service_request} do |f| %>

  <!-- Drop down -->
  <p>Queue: <%= f.collection_select :queue, Group.all, :name, :name, {:include_blank => "--Select Queue--", :selected => Group.first} %></p>

  <!-- SLA email attribute -->
  <p><label for = "sr_emailsla">Send "outside SLA" email?</label>: <%= f.check_box "emailsla" %></p>

  <!-- Priority email attribute -->
  <p><label for = "sr_emailpriority">Send "low priority" email?</label>: <%= f.check_box "emailpriority" %></p>

  <!-- unassign attribute set to true and hidden so it can't be changed -->
  <%= f.check_box "unassign", checked: true, :style => 'visibility: hidden' %>

  <!-- Button to submit Changes -->
  <%= f.submit "Save changes" %>
<% end %>

<!-- Link back to the index page -->
<%= link_to 'Back', {:action => 'index' } %>
