<!-- This page is to provide a list of all SRs owned by the user specified -->
<body>

<!-- navigation bar -->
<%= render 'links' %>

  <div class="tile is-ancestor">
		<div class="tile is-parent">
			<div class="tile is-child notification is-dark box center">
				<h1><%= @username.name -%></h1>

				<!-- ruby code to initialize the form for username excuses. -->
				<%= form_for @username, :url =>{:action => "userupdate", :id =>@username}, class: "field is-grouped" do |f| %>

  				<p class="control is-expanded"><%= f.text_field 'excuse', class: "input", placeholder: "Excuse" %></p>
					<br>
  				<!-- Button to submit Changes -->
  				<p class="control"><%= f.submit "Save changes", class: "button is-info" %></p>
				<% end %>
				SRs Taken:
				<ul>
  			<!-- Loop through and link each service request they own using the each block -->
  			<% @username.service_requests.each do |request| %>
    			<li><%= link_to request.number, :action => "show", :id => request.id =%></li>
  			<% end %>
				</ul>
			</div>
		</div>
	</div>
</body>
